[Unit]
Description=InsightLog Real-Time Log Monitor
After=network.target

[Service]
User=root
WorkingDirectory=/opt/InsightLog/src
ExecStart=/opt/InsightLog/venv/bin/python /opt/InsightLog/src/insightlog.py
Restart=always

[Install]
WantedBy=multi-user.target